/* LOGIN AND REGISTRSTION CSS */

/* FONT FAMILY */

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

.container1{
    position: relative;
    max-width: 500px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 3px 5px black;
    padding: 30px;
    text-align: center;
}

.container1 .form{
    width: 45%;
    padding: 25px;
    background-color: white;
    transition: margin-left 0.18s ease-in;
}

.container1 .forms{
    display: flex;
    width: 200%;
    height: 440px;
    align-items: center;
    /* background-color: white; */
    transition: 0.2s ease-in;
}

/* css for login and sign up pages switch when activated */


.container1.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease-in, opacity 0.15s ease-in;
}

.container1.active .signup {
   opacity: 1;
   transition: opacity 0.02s ease-in;
}

.container1 .signup {
    opacity: 0;
    transition: opacity 0.09s ease-in;
}

.container1 .form .title{
    position: relative;
    font-size: 30px;
    font-weight: 500;
}

.container1.active .forms {
    height: 700px;
}

.form .input-field{
    margin-top: 30px;
    position: relative;
    width: 100%;
    height: 50px;
}

.input-field input{
    height: 100%;
    width: 100%;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    border-top: 2px solid transparent;
}

/* .input-field i.icon{
    position: relative;
} */

/* make the input field border-bottom change colour when highlighted */
.input-field input:is(:focus, :valid){
    border-bottom-color: cadetblue;
}

.form .checkbox-text{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

/* color of 'remember me' checkbox when ticked */
.checkbox-content input{
    accent-color: cadetblue;
}

/* remember me and forgot password */
.form .text{
    font-size: 15px;
}
.form a{
    color: blue;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 40px;
}

.form .button input{
    color: white;
    letter-spacing: 0.5px;
    font-size: 17px;
    font-weight: 600;
    background-color: cadetblue;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button input:hover{
    background-color: rgb(76, 139, 141);
}

.form .login-signup{
    margin-top: 40px;
}

/* DASHBOARD CSS */

/* SIDEBAR */

.container2{
    display: flex;
    justify-content: left;
}

.sidebar{
   position: sticky;
   top: 0;
   left: 0;
   bottom: 0; 
   width: 90px;
   height: 100vh;
   padding: 0 1.7rem;
   color: aliceblue;
   overflow: hidden;
   transition: all 0.5s linear;
   background-color: rgb(17, 115, 164);
   text-decoration: none;
}
.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}
.logo{
    height: 80px;
    padding: 16px;
    align-items: center;
}

.main{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
    
}

.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in;
    list-style: none;
   
}

.menu li:hover, .active{
    background-color: blueviolet;
}
.menu a{
    color: aliceblue;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;
}
.menu a i{
    font-size: 1.2rem; 
}


